@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #3EC70B;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
/* header goes here */
header{
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    color: #3EC70B;
    justify-content: space-between;
    align-items: center;
    background-color:#222831;
    height: 110px;
}
#header_icon{
    font-size: 50px;
}
header div{
    margin-left: 2%;
    color: #6B728E;
    font-family: 'Inter', sans-serif;
    margin-right: 2%;
}
header div a{
    margin-right: 15px;
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
}
header a:hover{
    color: #00ADB5;
}
#logo{
    width: 140%;
}
a{
    text-decoration: none;
}
.logo_text {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 25px;
}
/* this flex will work where ever i use class flex */
.flex{
    display: flex;
}
/* go back arrow */
#goback{
    font-size: 100px;
    position: fixed;
    padding-top: 10%;
    color: white;
}
main{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left:20% ;
    margin-right:20% ;
}
.clickjack_para{
    margin-top: 5%;
}
#ytvideo,#fakelink, #invisible_link{
    border: none;
    position: absolute;
    width:620px;
    height: 340px;
    border-radius: 10px;
    margin-left: 10%;
}
/* youtube video */
#ytvideo{
    border: 2px solid white;
    box-shadow: 5px 5px 50px black;
}
#fakelink{
    z-index: 100;
}
#invisible_link{
    display: block;
}
.below_yt_video{
    position: relative;
    margin-top: 47%;
}
.second_para{
    margin-top: 5%;
}
.second_para h3{
    margin-bottom: 5%;
}
.code_img{
    background-color: #1e1e1e;
    border-radius: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.code_img img{
    width: 50%;
    height: 100%;
}
.code_img img:nth-of-type(1){
    margin-top: 10%;
}
.code_img img:nth-of-type(2){
    height: 400px;
    width: 400px;
}
.video_demo{
    text-align: center;
    margin-bottom: 5%;
}
/* Background Video */
video{
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 30%;
}
#gmail_img{
    border-radius: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
    height: 80%;
}
.gmail_desc{
    font-size: 20px;
    margin-top: 2%;
}
.gmail_desc a{
    color:lightgreen;
    text-decoration: underline;
}
/* question sections */
.question_session{
    margin-top: 3%;
}
.question_session h1{
    margin-top:3% ;
    margin-bottom: 3%;
    color: gray;
}
.questions{
    border: 2px solid white;
    width: 60%;
    padding: 1%;
    background-color: gray;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top:3% ;
    margin-bottom: 3%;
}