@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #3EC70B;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
header{
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    color: #3EC70B;
    justify-content: space-between;
    align-items: center;
    background-color:#222831;
    height: 110px;
}
#header_icon{
    font-size: 50px;
}
header div{
    margin-left: 2%;
    color: #6B728E;
    font-family: 'Inter', sans-serif;
    margin-right: 2%;
}
header div a{
    margin-right: 15px;
    text-decoration: none;
    color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
}
header a:hover{
    color: #00ADB5;
}
#logo{
    width: 140%;
}
a{
    text-decoration: none;
}
.logo_text {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 25px;
}
.flex{
    display: flex;
}
/* header end */

/* Body Content */

main{
    padding: 10%;
    padding-left:25% ;
    padding-right:25% ;
    
    line-height: 2rem;
}
h2{
    margin-top: 2%;
    color: yellow;
}
#quote_by{
    text-align: end;
    margin-top: 0;
}
p{
    margin-top: 2%;
}
strong{
    font-weight: 900;
    color: white;
}
img{
    margin-left:auto ;
    margin-right:auto ;
    display: block;
    border-radius: 20px;
}
.quote{
    margin-top: 5%;
    color:lightblue;
    text-decoration: none;
    margin-bottom: 5%;
}
#title{
    color: yellow;
}
ul li{
    margin-top: 4%;
}