@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
    background:linear-gradient(#292929, #1b1b1b);
    font-family: 'League Spartan', sans-serif;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
}
/* header code goes here */
header{
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    color: #3EC70B;
    justify-content: space-between;
    align-items: center;
    background-color:#1b1b1b;
    height: 110px;
}
#header_icon{
    font-size: 50px;
}
header div{
    margin-left: 2%;
    color: #6B728E;
    font-family: 'League Spartan', sans-serif;
    margin-right: 2%;
}
header div a{
    margin-right: 15px;
    text-decoration: none;
    color: #ffa31a;
    padding: 10px;
    border-radius: 5px;
}
header a:hover{
    color: #00ADB5;
}
#logo{
    width: 140%;
}
.logo_text {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 25px;
}
/* left sidebar */

aside{
    padding-top: 9%;
    background-color: #292929;
    border-right:3px solid #1b1b1b;
    width: 15%;
    height: 100%;
    color:#808080;
    position: fixed;
}
aside ul li{
    margin-top: 20%;
    font-size: 25px;
    list-style: none;
    margin-left:10%;
}
aside ul li:hover{
    color:#ffa31a;
    cursor: pointer;
}
/* main contents */
main{
    padding-left:20%;
    padding-right:30%;
    padding-top:12%;
    font-size: 20px;
}
main h1{
    color: #00ADB5;
}
main p{
    margin-top: 5%;
    color: #808080;
}

#termux_img{
    width: 80%;
    height: 100%
}
.termux_images{
    width: 100%;
}
.termux_interface{
    background-image: url('/../images/termux_interface.png')

}